@import 'assets/styles/common'

.options
  position: relative
  height: 30px

.options__icon
  cursor: pointer
  width: 30px
  text-align: center
  height: 30px
  position: relative

.options__icon-line
  position: absolute
  left: 0
  width: 100%
  height: 2px
  background-color: $text-color-light
  transform-origin: center
  transition: all 150ms linear

.options__icon-line--top
  top: 3px

.options__icon-line--bottom
  bottom: 3px

.options__icon-line--center
  top: 50%
  margin-top: -1px
  opacity: 1

.options__icon--open
  .options__icon-line--top
    top: 50%
    margin-top: -1px
    transform: rotate(45deg)


  .options__icon-line--bottom
    top: 50%
    margin-top: -1px
    transform: rotate(-45deg)

  .options__icon-line--center
    opacity: 0

.options__dropdown
  position: absolute
  top: 50px
  right: 0
  padding: 10px
  min-width: 300px
  background-color: $bg-color-light
  border-radius: 6px
  border: 1px solid $text-color-dark
  overflow: hidden
  transition: opacity 250ms linear

.options__dropdown--closed
  height: 0
  opacity: 0
  display: none

.options__dropdown--open
  height: auto
  opacity: 1
  display: block

.options__list
  max-height: 70vh
  overflow: auto

.options__column
  // width: 50%
  width: 100%

.options__label
  cursor: pointer

.options__title
  padding-bottom: 10px

.options__filter
  position: relative
  padding-bottom: 10px
  padding-right: 30px

.options__filter-reset
  position: absolute
  right: 0
  top: 50%
  width: 20px
  height: 20px
  margin-top: -15px
  border: 0
  background-color: transparent
  cursor: pointer

  &:before,
  &:after
    content: ''
    display: block
    width: 100%
    height: 1px
    position: absolute
    top: 50%
    left: 0
    background-color: $text-color-light
    transform-origin: center

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(-45deg)
