@import 'assets/styles/common'

.calculator
  background-color: $bg-color-light
  border-radius: 10px
  padding: 10px
  display: flex
  align-items: center

.calculator__input
  border: 1px solid $text-color-accent
  color: $text-color-accent
  font-size: 16px
  border-radius: 6px
  background-color: $bg-color-accent
  display: block
  width: 120px
  height: 30px
  padding: 0 10px
  outline: none

.calculator__text
  display: inline-block
  margin-left: 10px
  min-width: 200px

.calculator__select
  width: 100px
  margin-left: auto

.calculator__reverse
  margin-left: 20px
  display: inline-block
  width: 1em
  height: 1em
  background-color: transparent
  border: 0
  background-image: url('./reverse.svg')
  background-repeat: no-repeat
  background-size: contain
  cursor: pointer