@import 'assets/styles/common'

.currency
  display: flex
  justify-content: space-between
  border-radius: 10px
  border: 1px solid $text-color-light
  box-shadow: 2px 2px 6px transparentize($text-color-light, 0.5)
  color: $text-color-standart

.currency--primary
  padding: 50px

.currency--secondary
  padding: 20px 50px

.currency__name
  padding-bottom: 10px
  text-decoration: none
  display: block
  color: $text-color-standart

.currency__name--primary
  font-size: 24px

.currency__name--secondary
  font-size: 18px

.currency__code
  text-transform: uppercase
  color: $text-color-light

.currency__code--primary
  font-size: 14px

.currency__code--secondary
  font-size: 12px

.currency__info
  align-self: stretch
  display: flex
  align-items: center

.currency__info--primary
  font-size: 26px

.currency__info--secondary
  font-size: 22px

.currency__nominal
  color: $text-color-dark
  display: inline-block
  padding-right: 10px

.currency__value

  &::after
    content: ''
    display: inline-block
    margin-left: 10px
    width: 0
    height: 0
    border-style: solid

.currency__value--positive
  color: transparentize($text-color-success, 0.3)

  &::after
    border-width: 0 9px 18px 9px
    border-color: transparent transparent $text-color-success  transparent

.currency__value--negative
  color: transparentize($text-color-error, 0.3)

  &::after
    border-width: 18px 9px 0 9px
    border-color: $text-color-error transparent transparent transparent